.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c1e26; */
    color: var(--white-color);
    padding: 10px 20px;
    background: var(--bg-100);
    height: 100%;


}

.navbar-logo {
    /* height: 3.5rem; */
    width: 10rem;
    /* font-size: 1.5rem; */
}

.navbar-icons {
    display: flex;
}

.navbar-icon {
    display: flex;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

.navbar-icon:hover .icon-text {
    display: inline-block;
    transform: scale(1.3);
}

.navbar-icon .icon-text {
    display: none;
    margin-left: 15px;
}

.navbar-icon-img {
    height: 2rem;
    width: 2rem;
}

.navbar-user {
    position: relative;
}

.navbar-user-icon {
    cursor: pointer;
}

.navbar-user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-user-details {
    margin-bottom: 10px;
}

.navbar-user-logout {
    cursor: pointer;
}

.navbar-user-logout:hover {
    color: red;
}