.App {
  height: 100vh;
  width: 100vw;
  /* font-family: var(--font-family); */
}

:root {
  /* --font-family: 'Source Code Pro'; */
  /* --dominant-color: #6100E0;
  --complementary-color: #D9BBF9;
  --white-color: #F6F8F2;
  --black-color: #22211B;
  --gray-color: #A8A19F; */
  --primary-100:#0085ff;
  --primary-200:#69b4ff;
  --primary-300:#e0ffff;
  --accent-100:#006fff;
  --accent-200:#e1ffff;
  --text-100:#FFFFFF;
  --text-200:#9e9e9e;
  --bg-100:#1E1E1E;
  --bg-200:#2d2d2d;
  --bg-300:#454545;
    

}